@import './components/DialogueContent/styles';
@import './components/DialogueHeader/styles';

.dialogue__column {
  grid-area: dialogue;
  display: grid;
  grid-template-rows: minmax(80px, 135px) minmax(500px, 970px);
  grid-template-areas:
          'Header'
          'Content';
}
