.error__page{
  width: 100vw;
  height: 100vh;
  background-color: $red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  color: $red;
  background-color: $white;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 100%;
}

.error__content {
  display: flex;
  gap: 5px;
}

.error__link {
  padding: 5px 15px;
  background-color: $red;
  color: $white;
  border-radius: 10px;

  &:hover {
    color: $white;
  }
}
