.dialogue__header
  .dialogue__header-user
    .header__user-avatar
      img(src='/public/images/2.png', alt='user-avatar')
    .header__user-info
      .user__info-name Necr
      .user__info-activity
        .activity-text last active
        .activity-time 12:20
  .dialogue__header-settings
    img(src='/public/icons/ellipsis.svg')
