extends ../../layouts/content
include ../../components/FormContainer/index
include ../../components/FormInput/index
include ../../components/Button/index

block append head
  title Edit Profile
  script(src='./index.ts', type='module')
  link(rel='stylesheet', href='../../styles/index.scss')

block content
  #edit-data
