extends ../../layouts/content

block append head
  title Chat
  script(src='../../index.js', type='module')

block content
  main.messenger
    include ./components/MessagesColumn/index
    include ./components/DialogueColumn/index
