extends ../../layouts/content

block append head
  title Profile
  script(src='../../index.js', type='module')

block content
  .page__profile
    include ./components/Back/index
    include ./components/UserProfile/index
