@import './components/Back/styles';
@import './components/UserProfile/styles';

.page__profile {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: minmax(80px, 120px) 1fr;
  grid-template-areas: "Back UserProfile";
}
