extends ../../layouts/content

block append head
  title Sign-In
  script(src='./index.ts', type='module')
  link(rel='stylesheet', href='../../styles/index.scss')

block content
  main#sign-in.page__sign-in
