include ../UserDataItem/index

.user__data
  ul.user__data-list
    +UserDataItem('Email', 'mail@yandex.ru')
    +UserDataItem('Login', 'NeverMore')
    +UserDataItem('First Name', 'Stanislav')
    +UserDataItem('Second Name', 'Batalov')
    +UserDataItem('Nick Name', 'Never')
    +UserDataItem('Phone Number', '8-923-431-22-66')
