mixin message-item(url, userName, last__message)
  li.message__item
    .item__avatar
      img(src=url, alt="message_item")
    .item__info
      .item__info_user-name= userName
      .item__info_last-message= last__message
    .message__info
      .message__info_time 12:22
      .message__info_inread
