.dialogue__body
  .dialogue__messages
    .messages__item
      .messages__item-text ns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljhns gbljh
      .messages__item-date 12:20
  .dialogue__messages-text
    textarea(name='message', placeholder='Write a message...')
    .file__upload
      img(src='/public/icons/fileUpload-icon.svg')
