include ../../../../../../components/Button/index

.profile__controllers
    +Button('change__data', 'Change Data', 'send', 'primary')
    +Button('change__password', 'Change Password', 'send', 'primary')
    +Button('exit', 'Exit', 'send', 'exit')
