extends layouts/content
block append head
  title Home
  script(src='./index.js', type='module')

block content
  ul
    li
      a(href='./pages/SignIn/index.pug') Sign In
    li
      a(href='./pages/Registration/index.pug') Registration
    li
      a(href='./pages/Chat/index.pug') Chat
    li
      a(href='./pages/Profile/index.pug') Profile
    li
      a(href='./pages/EditProfile/index.pug') Edit Profile
    li
      a(href='./pages/EditPassword/index.pug') Edit Password
    li
      a(href='./pages/404/index.pug') Error 404 page
    li
      a(href='./pages/500/index.pug') Error 500 page
