header.profile__header
  .profile__header-avatar
    img(src='/public/images/avatar-2.jpg')
    .profile_header-edit
      button(type='button', name='edit-avatar-button')
        img(src='/public/icons/edit-avatar.svg', alt='user-profile-avatar')
