header.profile__header
    .profile__header-avatar
        img(src='/public/images/avatar-2.jpg')
        .profile_header-edit
            button
                img(src='/public/icons/edit-avatar.svg')
